/* ---------------------------------- */
/* addReviewRequested */
.git-review-notif-nbr {
  border-radius: 20px;
  border: 1px solid red;
  padding: 2px 6px;
  background: red;
  color: white;
}

.git-pr-review-request,
.git-pr-review-changes {
  height: 28px;
  font-size: 12px;
  padding: 3px 10px !important;
}

.git-pr-review-request span,
.git-pr-review-changes span {
  padding: 0 4px;
}

.gh-header-show .jira-copy-issue {
  padding: 2px;
  width: 27px;
  height: 27px;
  margin-bottom: -2px;
}

/* ---------------------------------- */
/* highlighting */
h {
  background: yellow;
}

hh {
  background: #ff0000a1;
}
